body
{
    background-color: #F9F9F9;
}
.navbar
{
    display: fixed;
}
.first-half{
position: relative;
right: 2rem;
}
.deliverycard
{
position: relative;
width: 12rem;
left: 25rem;
top: 11rem;
}
.cardtxt
{
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
   
}
.nav-opts
{
    position: relative;
    top: .5rem;
}
.first-sec-div
{
    background-color: #f9f9f9;
    background-image: radial-gradient(circle at center center, #f6f6f7, #f9f9f9), repeating-radial-gradient(circle at center center, #f6f6f7, #f6f6f7, 12px, transparent 24px, transparent 12px);
    background-blend-mode: multiply;
    height:35.7rem;
}
.height{

    height: 100vh;
}



.customer-card:hover,
.customer-card:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.customer-card:hover {
  transform: translateY(-1px);
}

.customer-card:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.success-card:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.success-card:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.success-card:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.success-card
{
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    left: 5rem;
    top: 4rem;
}
.customer-card
{
    background-color: #fa6400;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    position: relative;
    width: 10rem;
    left: 16rem;
    bottom: 1.5rem;
}

.success-card-text
{
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
 
}
.success-card-subtext
{
    color: white;
    text-align: center;
}

.form{

    position: relative;
}

.form .fa-search{

    position: relative;
    top:1rem;
    left: 1rem;
    color: #9ca3af;

}

.form span{

        position: relative;
    right: 1rem;
    top: 1rem;
    padding: .2rem;
    border-left: .1rem solid #d1d5db;

}
.searchbar
{
    position: relative;
    top: 5rem;
    left: 5rem;
    width: 24rem;
}
.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: .5rem;
}

.form-input{

    height: 4rem;
    text-indent: 3rem;
    border-radius: 1rem;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}
.para
{
    position: relative;
    left: 5rem;
    top: 3rem;
    padding-right: 8rem;
    line-height: 1.8rem;
    display: inline-block;
}
.navfont
{
    font-family: 'Inter Tight', sans-serif;
}
.logo
{
    position: relative;
    bottom: .5rem;
}
.buttontext
{
    color: white;
    position: relative;
    bottom: 1.4rem;
}


/*home image */
.tagline
{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 4rem ;
    color: #16213E;
    position: relative;
    left: 5rem;
    display: inline-block;
    top: 2rem;
}
.row
{
    width: 70rem;
    
}
.imagediv
{
    display: block;
    position: relative;
    right: 3rem;
    bottom: 5rem;
}
.deliveryguy
{
    position: relative;
    right: 8rem;
    height: 35rem;
    display: inline-block;
    width: 52rem;
}
.buttontext:hover
{
    color: white;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  .icon
  {
    position: relative;
    right: 0.5rem;
    top: .45rem;
  }
/* CSS */
.button-70 {
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: .9em;
  margin: .5rem;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 2.2rem;
}

@media screen and (max-width: 585px){
    .first-half
    {
        position: relative;
        right: 0rem;
    }
    .tagline
{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.5rem ;
    color: #16213E;
    position: relative;
    display:inline-block;
    left: 1.5rem;
 
    top: 1rem;
}
.deliveryguy
{
    position: relative;
    right: 1rem;
    height:20rem;
    display: inline-block;
    width: 30rem;

}
.para
{
    position: relative;
    left: 1.5rem;
    top: 1rem;
    display:inline-block;
    line-height: 1.8rem;
    font-size: 0.8rem;
}
.row
{
    width: 25rem;
}
.searchbar
{
    position: relative;
    top: 5rem;
    width: 15rem;
    bottom: 20rem;
}
.form{

    position: relative;
}

.form .fa-search{

    position: relative;
    top:1rem;
    left: 1rem;
    bottom: 5rem;
    color: #9ca3af;

}

.form span{

        position: relative;
    right: 1rem;
    top: 1rem;
    padding: .2rem;
    bottom: 5rem;
    border-left: .1rem solid #d1d5db;

}
.left-pan{
    padding-left: .7rem;
}

.left-pan i{
   
   padding-left: .5rem;
}

.form-input{

    height: 4rem;
    text-indent: 3rem;
    border-radius: 1rem;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.search-icon
{
    position: relative;
    color: white;
    left: 1rem;
    bottom: .7rem;
}
/* CSS */
.button-34 {
  background: #16C79A;
  border-radius: 50rem;
  box-shadow: #16C79A 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
 height: 3rem;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8rem;
  word-break: break-word;
  border: 0;
  position: relative;
  bottom: 3.5rem;
  left: 15rem;
}

